body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  color: #2c2c2c;
}

.container {
  width: 950px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

/* header */
header {
  display: flex;
  justify-content: space-around;
  background: #7693ee;
}

.logo {
  font-weight: 900;
  font-size: 25px;
  text-decoration: none;
  padding: 10px 0;
  line-height: 70px;
  color: #fff;
}

.menu {
  margin: 0;
}

.menu li {
  list-style: none;
  display: inline-flex;
}

.menu a {
  text-decoration: none;
  list-style: none;
  font-weight: 700;
  height: 70px;
  line-height: 70px;
  margin-left: 30px;
  color: #fff;
  transition: 0.3s ease-in-out;
  position: relative;
}

.menu a:hover {
  color: #fff;
}

.menu a::before {
  width: 0;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 20px;
  content: "";
  left: 50%;
  transform: translateX(-50%);
}

.menu a:hover::before {
  transition: 0.3s ease-in-out;
  width: 100%;
}

/* index.main */
h3 {
  border-left: 10px solid #7693ee;
  padding-left: 20px;
}

/* footer */
footer {
  display: inline-block;
  width: 950px;
  margin-top: 30px;
}

address {
  text-align: center;
  font-weight: 500;
  background: #7693ee;
  color: #fff;
  padding: 10px 0;
}

.copyrights {
  text-align: center;
  font-size: 14px;
}

/* doc-intro.html */
table {
  border-collapse: collapse;
  padding: 30px;
  width: 850px;
  margin: 30px auto;
}

.text1 table,
.text1 th,
.text1 td {
  border: 2px solid #76cfee;
}

.text2 table,
.text2 th,
.text2 td {
  border: 2px solid #9576ee;
}

th {
  text-align: left;
  padding: 7px 15px;
}

td {
  padding: 5px 15px;
}

.name1 {
  background-color: #76cfee;
  color: #fff;
}

.name2 {
  background-color: #9576ee;
  color: #fff;
}

/* clinic-info.html */
.tital {
  width: 850px;
  margin: 30px auto 20px;
  padding: 7px;
  background-color: #5f81eb;
  color: #fff;
  font-weight: bold;
}

.article {
  width: 840px;
  margin: 20px auto 20px;
  text-indent: 1em;
}

/* ｍedical-time.html */
.date-table,
.date-table th,
.date-table td {
  border: 2px solid #5f81eb;
}

.time {
  text-align: center;
  padding: 10px;
}

.date-tital {
  text-align: center;
  background-color: #5f81eb;
  color: #fff;
}

.holiday-tital {
  text-align: center;
  background-color: #eb5f81;
  color: #fff;
}

.reservation li {
  font-size: 14px;
  font-weight: bold;
  margin-left: 35px;
}

/* facility-intro.html */
.intro {
  width: 850px;
  height: 200px;
  margin: 30px auto;
}

.left {
  width: 580px;
  float: left;
}

.right {
  margin: 80px 0 0 20px;
  float: right;
}

.facility-tital {
  padding: 3px 3px 3px 20px;
  border-bottom: 1px solid #5f81eb;
  border-left: 10px solid #5f81eb;
  margin: 20px 0;
  font-weight: bold;
}

/* access.html */
.map {
      width: 850px;
      margin: 30px auto;
    }
